<div class="goldbar"></div>
<div style="text-align:center">
<h1>Om oss</h1>
<div>Vi på Squarebox älskar överraskningar! Varje månad strävar vi efter att göra alla boxar till en upplevelse i sig själv.</div>
<div>Det ska vara genomtänkt och hög kvalité oberoende vilket box du lyckas vinna.  </div>
<img src="https://ichef.bbci.co.uk/childrens-responsive-ichef-live/r/400/1x/cbeebies/teletubbies-character-bp.png" />
<div>Vi är ett glatt gäng på fyra personer med olika bakgrunder, allt från hälsovetare till produktionsledare.</div>
<div>Det vi alla har gemensamt är vårt driv till att alltid ge 100% grym service. </div>
</div>
<div class="goldbar"></div>
