@model HomeCheckoutVM


<div style="display:flex;">
    <div style="overflow: auto; height: 400px; width:50%; padding:20px;">
        @foreach (var item in Model.Boxes)
        {
            <div>
                <img src="@item.BoxType.BoxImage" /> @item.BoxType.BoxType #@item.BoxId <br />
                @item.BoxPrice
                <hr />
            </div>
        }
    </div>
    <div style="padding:20px;">
		<form asp-controller="Home" asp-action="CheckOut" method="post">

			@*<label asp-for="UserName"></label>
		<input placeholder="Användarnamn" asp-for="UserName" />
		<span asp-validation-for="UserName"></span>

		<label asp-for="PassWord"></label>
		<input type="password" placeholder="Lösenord" asp-for="PassWord" />
		<span asp-validation-for="PassWord"></span>

		</br>*@

			@*<div class="form-row">

				<br />
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputFirstName4" asp-for="CreateForm.FirstName"></label>
						<input class="form-control" id="inputFirstName4" placeholder="Förnamn" asp-for="CreateForm.FirstName" />
						<span asp-validation-for="CreateForm.FirstName"></span>
					</div>
					<div class="form-group col-md-6">
						<label for="inputLastName4" asp-for="CreateForm.LastName"></label>
						<input class="form-control" id="inputLastName4" placeholder="Efternamn" asp-for="CreateForm.LastName" />
						<span asp-validation-for="CreateForm.LastName"></span>
					</div>
				</div>
				<br />
				<div class="form-group col-md-6">
					<label for="inputAddress" asp-for="CreateForm.Address"></label>
					<input type="text" class="form-control" id="inputAddress" placeholder="Adress" asp-for="CreateForm.Address" />
					<span asp-validation-for="CreateForm.Address"></span>
				</div>
				<br />
				<div class="form-group col-md-6">
					<label for="inputZip" asp-for="CreateForm.PostalCode"></label>
					<input type="text" class="form-control" id="inputZip" placeholder="Postnummer" asp-for="CreateForm.PostalCode" />
					<span asp-validation-for="CreateForm.PostalCode"></span>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputCity" asp-for="CreateForm.City"></label>
						<input type="text" class="form-control" id="inputCity" placeholder="Ort" asp-for="CreateForm.City" />
						<span asp-validation-for="CreateForm.City"></span>
					</div>
				</div>
				<br />
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputEmail4" asp-for="CreateForm.Email"></label>
						<input class="form-control" id="inputEmail4" placeholder="E-post" asp-for="CreateForm.Email" />
						<span asp-validation-for="CreateForm.Email"></span>
					</div>
					<br />
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputPhone4" asp-for="CreateForm.PhoneNumber"></label>
							<input class="form-control" id="inputPhone4" placeholder="Telefonnummer" asp-for="CreateForm.PhoneNumber" />
							<span asp-validation-for="CreateForm.PhoneNumber"></span>
							<br />
						</div>
					</div>*@
					<label asp-for="FirstName"></label>
					<input placeholder="Förnamn" asp-for="FirstName" />
					<span asp-validation-for="FirstName"></span>

					<label asp-for="LastName"></label>
					<input placeholder="Efternamn" asp-for="LastName" />
					<span asp-validation-for="LastName"></span>

					<br />
					<label asp-for="Address"></label>
					<input placeholder="Adress" asp-for="Address" />
					<span asp-validation-for="Address"></span>
					<br />
					<label asp-for="PostalCode"></label>
					<input placeholder="Postnummer" asp-for="PostalCode" />
					<span asp-validation-for="PostalCode"></span>

					<label asp-for="City"></label>
					<input placeholder="Ort" asp-for="City" />
					<span asp-validation-for="City"></span>
					<br />
					<label asp-for="Email"></label>
					<input placeholder="E-post" asp-for="Email" />
					<span asp-validation-for="Email"></span>
					<br />
					<label asp-for="PhoneNumber"></label>
					<input placeholder="Telefonnummer" asp-for="PhoneNumber" />
					<span asp-validation-for="PhoneNumber"></span>
					<br />
					<input type="submit" value="Slutför köp" />
		</form>
    </div>
</div>