<div class="contactus">

    <h1>Kontakta oss</h1>

    <div><strong>Kundtjänst: 010-12344556</strong></div>
    <div><strong>Kundtjänst email: SquareBox@Lime.com</strong></div>
    <div><strong>Adress: Borgarfjordsgatan 4 Kista</strong></div>

    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Maria: maria@squarebox.com</div>
    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Midin: midin@squarebox.com</div>
    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Markus: markus@squarebox.com</div>
    <br />
    <div>Telefon: 08-12345678</div>

    <div>Mejla Tim: tim@squarebox.com</div>
</div>