<div class="contactus">

    <h1>Kontakta oss</h1>

    <div>Kundtjänst: 010-12344556</div>
    <div>Kundtjänst email: SquareBox@Lime.com</div>
    <div>Adress: Borgarfjordsgatan 4 Kista</div>

    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Maria: maria@squarebox.com</div>
    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Midin: midin@squarebox.com</div>
    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Markus: markus@squarebox.com</div>
    <br />
    <div>Telefon: 08-12345678</div>
    <div>Mejla Tim: tim@squarebox.com</div>
</div>