@model AccountCreateVM
<!DOCTYPE html>
<html>
<head>
	<title>	</title>
</head>
<body>
	<form asp-controller="Account" asp-action="Create">

		<label asp-for="CreateForm.UserName"></label>
		<input placeholder="Användarnamn" asp-for="CreateForm.UserName" />
		<span asp-validation-for="CreateForm.UserName"></span>

		<label asp-for="CreateForm.PassWord"></label>
		<input placeholder="Lösenord" asp-for="CreateForm.PassWord" />
		<span asp-validation-for="CreateForm.PassWord"></span>

		</br>
		<label asp-for="CreateForm.FirstName"></label>
		<input placeholder="Förnamn" asp-for="CreateForm.FirstName" />
		<span asp-validation-for="CreateForm.FirstName"></span>

		<label asp-for="CreateForm.LastName"></label>
		<input placeholder="Efternamn" asp-for="CreateForm.LastName" />
		<span asp-validation-for="CreateForm.LastName"></span>

		</br>
		<label asp-for="CreateForm.Address"></label>
		<input placeholder="Adress" asp-for="CreateForm.Address" />
		<span asp-validation-for="CreateForm.Address"></span>
		</br>
		<label asp-for="CreateForm.PostalCode"></label>
		<input placeholder="Postnummer" asp-for="CreateForm.PostalCode" />
		<span asp-validation-for="CreateForm.PostalCode"></span>

		<label asp-for="CreateForm.City"></label>
		<input placeholder="Ort" asp-for="CreateForm.City" />
		<span asp-validation-for="CreateForm.City"></span>
		</br>
		<label asp-for="CreateForm.Email"></label>
		<input placeholder="E-post" asp-for="CreateForm.Email" />
		<span asp-validation-for="CreateForm.Email"></span>
		</br>
		<label asp-for="CreateForm.PhoneNumber"></label>
		<input placeholder="Telefonnummer" asp-for="CreateForm.PhoneNumber" />
		<span asp-validation-for="CreateForm.PhoneNumber"></span>
		<br />
		<input type="submit" value="Skapa användare" />
		<p>test</p>


	</form>
</body>
</html>
