@Html.Partial("_BoxInfo")

<h1>Så här fungerar det:</h1>

    <ul>
        <li>
            <h3>Först väljer du vilken kategori som du vill vinna din låda i.</h3>
            </li>
        <li>
            <h3>När du valt kategori trycker du på valfri box som har ett individuellt nummer.</h3>
        </li>
        <li>
            <h3>Genom ditt tryck läggs boxen i varukorgen och du kan enkelt och säkert lägga in dina uppgifter</h3>
        </li>
        <li>
            <h3>Alla boxar kommer i tre olika varianter, det är först när du får hem din box som du får veta vilken variant av boxen du vunnit.
            Väljer du exempelvis Gotteboxen för 149kr så är standard alltid produkter till ett värde av minst 249kr. 
            I Premium får du produkter för minst 349kr och i Deluxe får du för minst 499kr. </h3>
        </li>
    </ul>
