
<h1>Så här fungerar det:</h1>

    <ul>
        <li>
            <h3>Först väljer du vilken kategori som du vill vinna din låda i.</h3>
            </li>
        <li>
            <h3>När du valt kategori trycker du på valfi box som har ett individuellt nummer.</h3>
        </li>
        <li>
            <h3>Genom ditt tryck läggs boxen i varukorgen och du kan enkelt och säkert lägga in dina uppgifter</h3>
        </li>
        <li>
            <h3>Alla boxar kommer i tre olika varianter. I standard får du alltid produkter till ett värde av minst 449kr. 
            <br/>I Premium får du produkter för minst 599kr och i Deluxe får du för minst 899kr. </h3>
        </li>
    </ul>
