@model AccountLoginVM

<div style="width:30%; margin-left:auto; margin-right:auto">
    <form asp-controller="Account" asp-action="Login">
        <input style="display:none" asp-for="ReturnUrl" />
        <input placeholder="Användarnamn" id="inputUsername4" class="form-control" asp-for="Username" /><span asp-validation-for="Username"></span>
        <input placeholder="Lösenord" class="form-control" id="inputPassword4" asp-for="Password" /><span asp-validation-for="Password"></span>
        <input class="form-control" type="submit" value="Logga in" />
    </form>
</div>