@model AccountLoginVM

@if (!Model.IsLoggedIn)
{
    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputUsername4"></label>
                <input placeholder="Användarnamn" class="form-control" id="inputUsername4" asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4"></label>
                <input class="form-control" id="inputPassword4" placeholder="Lösenord" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div style="padding-top: 25.65px; height: 59.6px" class="form-group col-md-4">
                <input class="form-control" type="submit" value="Login" />
            </div>
        </div>
        <br />

    </form>

}
else
{
    <div>
        Du är inloggad som:  @Model.Username

        <a style="color: lime" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Model.ReturnUrl">Logga ut</a>
    </div>


}

