@model GetBoxDataBaseVM[]



    <ul class="nav navbar-nav">


        <li><a asp-area="" asp-controller="Home" asp-action="Index">Alla boxar</a></li>

@foreach (var item in Model)
{
        <li><a asp-area="" asp-controller="Home" asp-action="ManyBoxes" asp-route-id="@item.Id">@item.Name</a></li>



}
    </ul>
        @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Träningsboxen</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Syndarboxen</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Underhållningsboxen</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Gotteboxen</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Kattboxen</a></li>*@