<h1 style="text-align:center">Super Admin!</h1>
<form asp-controller="Admin" asp-action="AddBoxes" method="get" style="margin-left:auto; margin-right:auto; width: fit-content;">
    <br />
    <input value="Lägg till nya boxar" type="submit" />
</form>
<form asp-controller="Admin" asp-action="AllOrders" method="get" style="margin-left:auto; margin-right:auto; width: fit-content;">
    <br />
    <input value="Alla Ordrar" type="submit" />
</form>