@model GetBoxDataBaseVM[]



<div id="data-simplebar">

	@foreach (var item in Model)
	{
		<div>
			<a asp-area="" asp-controller="Home" asp-action="ManyBoxes" asp-route-id="@item.Id">

				<img src="@item.Image" />
				<br/>
                <h2>@item.Name</h2>
			</a>
		</div>
	}

</div>