@model GetBoxDataBaseVM[]


<div id="data-simplebar">

	@foreach (var item in Model)
	{
		<div>
			<a asp-area="" asp-controller="Home" asp-action="ManyBoxes" asp-route-id="@item.Id">
				@item.Name
				<img src="@item.Image" />
			</a>

		</div>
	}


</div>




@*<img src="~/Images/oldpink.png" />
	<p>Skönhetsboxen</p>*@
