@model GetBoxDataBaseVM[]


<div id="data-simplebar">

	@foreach (var item in Model)
	{
		<div>
            <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@item.Id">

                <img src="@item.Image" />
                <br/>
                @item.Name
            </a>
		</div>
	}
	@*<img src="~/Images/olive.png" />*@
</div>




@*<img src="~/Images/oldpink.png" />
	<p>Skönhetsboxen</p>*@
