<div class="boxinfo">
    <div>

        <img src="~/Images/bronsbox1.png" />
        <p>Standard</p>
    </div>

    <div>

        <img src="~/Images/silverbox1.png" />
        <p>Preminum</p>
    </div>

    <div>

        <img src="~/Images/guldbox1.png" />
        <p>Deluxe</p>
    </div>

    <a style="grid-column:span 3; text-align:right; color:#292828; font-size:12px;" asp-controller="Home" asp-action="ReadMore">Läs mer...</a>

</div>


