<div class="boxinfo">
    <div>
        <img class="box" src="~/Images/bronsbox.png" />
        <p>Standard</p>
    </div>

    <div>
        <img class="box" src="~/Images/silverbox.png" />
        <p>Preminum</p>
    </div>

    <div>
        <img class="box" src="~/Images/guldbox.png" />
        <p>Deluxe</p>
    </div>

    <a style="grid-column:span 3; text-align:right; color:#292828; font-size:12px;" asp-controller="Home" asp-action="ReadMore">Läs mer...</a>

</div>


