    <div class="boxinfo">
    <div>
        <a asp-controller="Home" asp-action="ReadMore">   <img src="~/Images/bronsbox1.png" />  </a>
        <a asp-controller="Home" asp-action="ReadMore">   <p style="color:#000">Standard</p>  </a>
    </div>

    <div>
        <a asp-controller="Home" asp-action="ReadMore">  <img src="~/Images/silverbox1.png" />  </a>
        <a asp-controller="Home" asp-action="ReadMore">   <p style="color:#000">Premium</p>  </a>
    </div>
    <div>
   
        <a asp-controller="Home" asp-action="ReadMore"> <img src="~/Images/guldbox1.png" />   </a>
        <a asp-controller="Home" asp-action="ReadMore">   <p style="color:#000">Deluxe</p>  </a>
    </div>
        <a style="grid-column:span 3; text-align:right; color:#292828; font-size:12px;" asp-controller="Home" asp-action="ReadMore">Läs mer...</a>
    
    </div>


