

<div class="boxinfo">

    <div style="grid-column: span 3; font-family:Gabriola;font-size:35px; padding-top:20px;">
       
        Alla dina favoritboxar samlade till samma pris men med tre olika hemliga innehåll. 
        <br />
        Välj ditt lyckonummer på valfri box, är turen på sin sida idag?
        
        </div>
    <div>
        <a asp-controller="Home" asp-action="ReadMore">   <img class="box" src="~/Images/bronsbox1.png" />  </a>
        <a asp-controller="Home" asp-action="ReadMore">   <h2>Standard</h2>  </a>
    </div>

    <div>
        <a asp-controller="Home" asp-action="ReadMore">  <img class="box" src="~/Images/silverbox1.png" />  </a>
        <a asp-controller="Home" asp-action="ReadMore">   <h2>Premium</h2>  </a>
    </div>
    <div>

        <a asp-controller="Home" asp-action="ReadMore"> <img class="box" src="~/Images/guldbox1.png" />   </a>
        <a asp-controller="Home" asp-action="ReadMore">   <h2>Deluxe</h2>  </a>
    </div>


    <a style="grid-column:span 3; text-align:right; color:#464545; font-size:20px;font-family:'Champagne & Limousines'; font-weight: bold;" asp-controller="Home" asp-action="ReadMore">Mer info!</a>

</div>



