<div class="boxinfo">

    <div style="grid-column: span 3; font-family:Gabriola;font-size:35px; padding-top:20px;">

        Alla dina favoritboxar samlade till samma pris men med tre olika hemliga innehåll.
        <br />
        Välj ditt lyckonummer på valfri box, är turen på sin sida idag?

    </div>
    <div>
        <img class="box" src="~/Images/bronsbox1.png" />
        <h2>Standard</h2>
    </div>

    <div>
        <img class="box" src="~/Images/silverbox1.png" />
        <h2>Premium</h2>
    </div>
    <div>

        <img class="box" src="~/Images/guldbox1.png" />
        <h2>Deluxe</h2>
    </div>
<br/>

</div>



