<footer>
    <ul class="footernav">
        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">Om oss</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">Kontakt</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="AboutUs">Användarvillkor</a></li>
    </ul>

</footer>
