<footer>

    <span><a asp-area="" asp-controller="Home" asp-action="AboutUs">Om oss</a></span>&nbsp;&nbsp;
    <span><a asp-area="" asp-controller="Home" asp-action="ContactUs">Kontakt</a></span>&nbsp;&nbsp;
    <span><a asp-area="" asp-controller="Home" asp-action="ReadMore">Hur det fungerar</a></span>&nbsp;&nbsp;
    <span><a asp-area="" asp-controller="Home" asp-action="AboutUs">Allmänna villkor</a></span>


</footer>
