    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://i.imgur.com/agcRyxZ.png" />
    <title>@ViewBag.Title</title>
    <link href="~/Css/StyleSheet.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div id="wrap">

        <header><img class="Header" src="https://i.imgur.com/hWtHTvl.png" alt="loggan" /> </header>


        @*FÖRBERETT FÖR FRAMTIDA INLOGGNINGSSIDA (USERNAME och PASSWORD)*@
        @*<form asp-controller="Home" asp-action="Index">
        <label asp-for=""></label>
        <input placeholder="Username" asp-for="" />
        <span asp-validation-for=""></span>
        <br />
        <label asp-for="e"></label>
        <input placeholder="Password" asp-for="" />
        <span asp-validation-for=""></span>
        <br />
        </form>*@

        <input style="background-color: white" type="submit" value="Login" />




        @Html.Partial("_NavBar")
        

        <div>
            @RenderBody()
        </div>

    </div>
</body>
</html>
