
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://i.imgur.com/agcRyxZ.png" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Css/StyleSheet.min.css" rel="stylesheet" />

</head>
<body>
    <div id="wrap">

        <header>
            <img class="Header" src="https://i.imgur.com/hWtHTvl.png" alt="loggan" />
            <div class="CheckOut">
                <a asp-controller="Home" asp-action="Checkout"><img style="width: 50px" src="~/Images/varukorg.png" /></a>
            </div>
        </header>






        @Html.Partial("_NavBar")


        <div>
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    <script src="~/Script/JavaScript.js"></script>
</body>
</html>
