<nav class="navbar navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Alla Boxar</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Skönhetsboxen</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Träningsboxen</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Syndarboxen</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Underhållningsboxen</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Gotteboxen</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Kattboxen</a></li>
            </ul>
        </div>
    </div>
    
</nav>
