
    <div class="div" onscroll="myFunction()">
        <div>
            <img src="~/Images/oldpink.png" />
            <p>Skönhetsboxen</p>
        </div>
        <div>
            <img src="~/Images/olive.png" />
            <p>Ekoboxen</p>
        </div>
        
        <div>
            <img src="~/Images/yellow.png" />
            <p>Gotteboxen</p>
        </div>
        <div>
            <img src="~/Images/blue.png" />
            <p>Kattboxen</p>
        </div>
        <div>
            <img src="~/Images/redbeige.png" />
            <p>Träningsboxen</p>
        </div>
        <div>
            <img src="~/Images/purple.png" />
            <p>Underhållningsboxen</p>
        </div>
    </div>


    <script>
     
        var x = 0;
        function myFunction() {
            document.getElementById("demo").innerHTML = x += 1;            
        }
    </script>
