body {
    background-color:lightblue;

}

.Header {
    width: 25%;
    height: 150px;
    background-color: lightblue;
}

.div {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    overflow: scroll;
    align-content:center;
}
img{
    width:50%;
}