@font-face {
  font-family: Champagne;
  src: url("../Champagne & Limousines Bold.ttf"); }

body {
  background-color: #464545;
  color: white;
  font-family: Champagne;
  /*font-family: 'Gill Sans Nova';*/
  font-size: 18px;
  display: grid; }

.CheckOutBoxes {
  overflow: auto;
  height: 400px;
  width: 50%;
  padding: 20px; }
  .CheckOutBoxes img {
    height: 100px;
    width: 100px; }
  .CheckOutBoxes div {
    margin: 2px;
    border: solid #323030;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 0 0 20px black; }

.logInHeader {
  display: flex; }
  .logInHeader div {
    margin-top: auto;
    margin-bottom: auto; }

.Header {
  width: 25%;
  /*background-color: #292828;*/
  margin-bottom: 4px; }

.CheckOut {
  display: flex;
  /*height: 50px;
    width: 50px;
    float: right;
    position: relative;
    right: -5px;
    bottom: -70px;*/ }
  .CheckOut a {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto; }

input {
  color: black; }

#wrap {
  width: 1200px;
  margin: 0 auto; }

.navbar-custom {
  background-color: #292828; }

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff; }

a {
  color: #fff; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.45); }

a:hover {
  color: #fff; }

#data-simplebar {
  border: 1px solid #292828;
  height: 500px;
  overflow: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  text-align: center;
  color: #292828;
  font-size: 28px;
  background-image: url(https://media.gettyimages.com/photos/blurred-silver-background-picture-id521203451?b=1&k=6&m=521203451&s=612x612&w=0&h=ctlNrH5ZOqdf5QTts4LivvVLK9aYlPiBm6WQLp1VMeo=);
  background-size: 100%; }

#data-simplebar2 {
  border: 1px solid #292828;
  height: 500px;
  overflow: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  color: #292828;
  font-size: 28px;
  background-image: url(https://media.gettyimages.com/photos/blurred-silver-background-picture-id521203451?b=1&k=6&m=521203451&s=612x612&w=0&h=ctlNrH5ZOqdf5QTts4LivvVLK9aYlPiBm6WQLp1VMeo=);
  background-size: 100%;
  color: #292828; }

.boxinfo {
  border: 1px solid #292828;
  height: fit-content;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  color: #292828;
  /*background-color: #d3c694;*/
  background-image: url(https://media.gettyimages.com/photos/blurred-silver-background-picture-id521203451?b=1&k=6&m=521203451&s=612x612&w=0&h=ctlNrH5ZOqdf5QTts4LivvVLK9aYlPiBm6WQLp1VMeo=);
  background-size: 100%; }

.boxinfo2 {
  border: 1px solid #292828;
  height: fit-content;
  display: grid;
  grid-template-columns: 40% 60%;
  text-align: center;
  font-size: 20px;
  color: #292828;
  /*background-color: #d3c694;*/
  background-image: url(https://media.gettyimages.com/photos/blurred-silver-background-picture-id521203451?b=1&k=6&m=521203451&s=612x612&w=0&h=ctlNrH5ZOqdf5QTts4LivvVLK9aYlPiBm6WQLp1VMeo=);
  background-size: 100%; }

.box {
  width: 30%;
  padding: 10px;
  color: black; }

input {
  color: black; }

img {
  width: 45%;
  padding: 10px;
  /* change the color of active or hovered links */ }
  img .navbar-custom .nav-item.active .nav-link,
  img .navbar-custom .nav-item:hover .nav-link {
    color: #ff6a00; }

footer {
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  word-spacing: 1px;
  text-align: center; }

li {
  font-size: 20px; }

.contactus {
  padding: 10px; }

h2 {
  color: #464545;
  margin: 0px; }

.headerDiv {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between; }

.logoDiv {
  width: 50%;
  display: flex; }
